
{{> head }}
{{> navbar }}

<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>Akatski</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio itaque rem perspiciatis ex deserunt repellendus, exercitationem inventore dolores libero voluptatum qui in dolorum deleniti, ea nihil aut iste, quo harum.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/img.png" alt="img-thubnail" class="img-thumbnail">
        </div>
    </div>
</div>

{{> footer }}