
{{> head }}

    {{> navbar }}
      <div class="container">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://firebasestorage.googleapis.com/v0/b/portafolio-61cf8.appspot.com/o/Captura%20de%20pantalla%202020-12-06%20231903.jpg?alt=media&token=d72e80b2-a9d6-445d-ac39-572fccf8ebdd" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://firebasestorage.googleapis.com/v0/b/portafolio-61cf8.appspot.com/o/Captura%20de%20pantalla%202020-12-06%20232903.jpg?alt=media&token=d878879c-a457-46c5-b033-65725c959baa" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://firebasestorage.googleapis.com/v0/b/portafolio-61cf8.appspot.com/o/Captura%20de%20pantalla%202020-12-17%20111137.jpg?alt=media&token=c5822637-f15c-4980-8c86-fa88c42326d6" class="d-block w-100" alt="...">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon border-dark" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
        </div>
      </div>

{{> footer }}